:root {
  --primary: #f7f7f7;
  --accent: #fea82f;
  --error: #fe4e2f;
  --background: #2d2d2a;
  --background2: #21211e;

  --margin-mobile: 1em;
  --margin-tablet: 2em;

  --desktop-max-width: 1150px;
}

.clickable:hover {
  cursor: pointer;
}

.closeIcon {
  position: absolute;
  top: .3em;
  right: .3em;
  font-size: 2.5rem;
}

@media only screen and (min-width: 768px) {
  .closeIcon {
    top: .5em;
    right: .5em;
  }
}

.closeIcon:hover {
  transform: scale(1.1);
}

.closeIcon:active {
  transform: scale(1.2);
}

a {
  text-decoration: none;
  color: var(--primary);
}